<div class="doc-table-container">
    <table mat-table [dataSource]="docs" style="flex: 1" class="doc-table-main">
        <ng-container *ngFor="let f of nameMap" [matColumnDef]="f.key">
            <th mat-header-cell *matHeaderCellDef> {{f.val}} </th>
            <td mat-cell *matCellDef="let doc"><p> {{doc[f.key]}} </p></td>
        </ng-container>

        <ng-container matColumnDef="createDate">
            <th mat-header-cell *matHeaderCellDef> Дата создания </th>
            <td mat-cell *matCellDef="let doc"><p> {{doc.createDate | date : 'dd/MM/yyyy H:mm:ss'}} </p></td>
        </ng-container>

        <ng-container matColumnDef="correspondent">
            <th mat-header-cell *matHeaderCellDef> Адресат </th>
            <td mat-cell *matCellDef="let doc"><p>
                {{doc.correspondent.includes(correspondents.othersName) ?
                'Прочие, ' + doc.otherCorrespondent :
                doc.correspondent.replace('<>', '')}}
            </p></td>
        </ng-container>

        <ng-container matColumnDef="worker">
            <th mat-header-cell *matHeaderCellDef> Исполнитель </th>
            <td mat-cell *matCellDef="let doc"><p>
                {{doc.worker.replace('<>', '')}}
            </p></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnNames; sticky: true"></tr>
        <tr mat-row *matRowDef="let docData; columns: columnNames"
            (click)="onShowDocumentDetails(docData)"
            class="doc-row {{docData.stringId.includes('Вх') ? 'doc-row-in' : 'doc-row-out'}}"></tr>
    </table>

    <table mat-table [dataSource]="docs" class="doc-table-main">
        <ng-container matColumnDef="files">
            <th mat-header-cell *matHeaderCellDef> Файлы </th>
            <td mat-cell *matCellDef="let doc" class="file-table-cell">
                <button mat-icon-button (click)="onGetFiles(doc.id)" *ngIf="true; else noFiles">
                    <mat-icon>file_copy</mat-icon>
                </button>
                <ng-template #noFiles>
                    <mat-icon>clear</mat-icon>
                </ng-template>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['files']; sticky: true"></tr>
        <tr mat-row *matRowDef="let docData; columns: ['files']"
            class="{{docData.stringId.includes('Вх') ? 'doc-row-in' : 'doc-row-out'}}"></tr>
    </table>
</div>
