@import "~@angular/material/theming";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$tr-height : 5em;

table td, table th {
    padding: 3px;
}

.doc-table {
    width: content-box;
    tr {
        height: $tr-height;
        td {
            text-overflow: ellipsis;
        }
    }
}

.doc-table-main {
    tr {
        height: $tr-height;
        td {
            text-overflow: ellipsis;
        }
    }
    th {
        padding-left: .4em;
    }
}

.doc-table-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.doc-row {
    cursor: pointer;
    td {
        p {
            margin: 0;
            max-height: $tr-height;
            overflow-y: overlay;
            padding-right: 1em;
        }
        p:first-of-type {
            padding-left: .3em;
        }
    }
}

.doc-row-in {
    background-color: #F1F8E9;
}

.doc-row-out {
    background-color: #E3F2FD;
}

.doc-row:hover {
    background: rgb(180, 180, 180);
}

.file-table-cell {
    border-left: rgb(220, 220, 220) solid 1px;
    mat-icon {
        color: mat-color(mat-palette($mat-indigo));
    }
}

.file-table-cell:hover {
    mat-icon {
        color: mat-color(mat-palette($mat-pink));
    }
}
