<div class="dialog-header">
    <div [matMenuTriggerFor]="addDoc" class="dialog-header-name" matTooltip="Изменить тип документа">
        <h3>{{data.type === 'in' ? 'Входящий документ' : 'Исходящий документ'}}</h3>
        <mat-icon>expand_more</mat-icon>
    </div>
    <mat-menu #addDoc='matMenu' [xPosition]="'after'" backdropClass="menu-width">
        <button mat-menu-item (click)="onDocumentTypeChange('out')">Исходящий</button>
        <button mat-menu-item (click)="onDocumentTypeChange('in')">Входящий</button>
    </mat-menu>
    <span class="filler"></span>
<!--    <span>{{fieldNames[1] + ': '}}</span>-->
<!--    <strong>{{documentStringId}}</strong>-->
    <mat-form-field class="dialog-header-id">
        <mat-label>{{fieldNames[1]}}</mat-label>
        <input matInput [value]="documentStringId" disabled>
    </mat-form-field>
</div>

<mat-dialog-content>
    <div [formGroup]="addDocForm" class="dialog-content">
<!--        <mat-form-field>-->
<!--            <mat-label>{{fieldNames[1]}}</mat-label>-->
<!--            <input matInput formControlName="stringId" name="stringId">-->
<!--        </mat-form-field>-->
        <div class="input-group">
            <mat-form-field *ngIf="data.type === 'out'">
                <mat-label>Связанные документы</mat-label>
                <input matInput id="refDocs" matTooltip="№ через пробел" matTooltipPosition="above" name="refDocs">
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{fieldNames[3]}}</mat-label>
                <input matInput formControlName="parentStringId" name="parentStringId" id="parentStringId">
            </mat-form-field>
        </div>
        <div class="input-group">
            <mat-form-field>
                <mat-label>{{fieldNames[4]}}</mat-label>
                <mat-select formControlName="correspondent" #correspondent required id="correspondent">
                    <mat-option *ngFor="let c of correspondents.correspondents" [value]="c.id">
                        {{c.name === 'other' ? 'Прочие' : c.name +
                        ((c.email) ? (' <' + c.email + '>') : '') +
                        ((c.phone) ? (' ' + c.phone) : '')}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="correspondent.value === 1">
                <mat-label>{{fieldNames[5]}}</mat-label>
                <input matInput formControlName="otherCorrespondent" name="otherCorrespondent" id="otherCorrespondent">
            </mat-form-field>
        </div>
        <div class="input-group">
            <mat-form-field>
                <mat-label>{{fieldNames[7]}}</mat-label>
                <mat-select formControlName="worker" required panelClass="wide-mat-select" id="worker">
                    <mat-option *ngFor="let w of workers.workers" [value]="w.id">
                        {{w.secondName}} {{w.firstName}}, {{w.position}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{fieldNames[8]}}</mat-label>
                <mat-select formControlName="project" required panelClass="wide-mat-select" id="project">
                    <mat-option *ngFor="let p of projects.projects" [value]="p.id">
                        {{p.name}}, {{p.groupName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{fieldNames[6]}}</mat-label>
                <mat-select formControlName="case" required id="case">
                    <mat-option *ngFor="let c of cases.cases" [value]="c.id">
                        {{c.name}}, {{c.location}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <mat-form-field appearance="outline">
            <mat-label>{{fieldNames[9]}}</mat-label>
            <textarea matInput formControlName="description" name="description" rows="5" required id="description"></textarea>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Файлы</mat-label>
            <ngx-mat-file-input #fileUpload formControlName="files" id="file" multiple></ngx-mat-file-input>
            <button mat-icon-button matSuffix *ngIf="!fileUpload.empty" (click)="fileUpload.clear($event)">
                <mat-icon>clear</mat-icon>
            </button>
        </mat-form-field>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button (click)="onClose()">Отмена</button>
    <button mat-raised-button color="primary" (click)="processAddDocument()" id="add-document-commit-btn">Добавить</button>
</mat-dialog-actions>
