.dialog-header {
    display: flex;
    align-items: baseline;
    .dialog-header-name {
        display: flex;
        align-items: center;
        cursor: pointer;
        h3 {
            margin: 0;
        }
    }
    span {
        color: gray;
    }
    .dialog-header-id {
        width: 7em;
    }
}

.filler {
    flex: 1 1 auto;
}

.dialog-content {
    display: flex;
    flex-direction: column;
    .input-group {
        display: flex;
        :last-child {
            margin-right: 0;
        }
        mat-form-field {
            margin-right: 10px;
            flex: 1;
        }
    }
}

.input-group * {
}

.input-group:last-child {
}

.wide-mat-select.mat-select-panel {
    width: calc(100% + 20em);
    max-width: calc(100% + 20em);
}
