<h5>Вы уверены?</h5>
<mat-dialog-actions>
    <button mat-raised-button [mat-dialog-close]="false">Нет</button>
    <button mat-raised-button [mat-dialog-close]="true">Да</button>
</mat-dialog-actions>
