<mat-toolbar color="primary" class="mat-elevation-z3 app-toolbar">
    <button id="toggle-sidenav" class="mat-button" mat-button (click)="sidenav.toggle()">
        <i class="material-icons">menu</i>
    </button>

    <span>Система внутреннего документооборота</span>

    <span class="filler"></span>

    <button mat-icon-button matTooltip="Интерфейс администратора" (click)="openAdmin()"><mat-icon>security</mat-icon></button>
    <button mat-icon-button matTooltip="Справка" (click)="openHelp()"><mat-icon>help_outline</mat-icon></button>
</mat-toolbar>

<mat-sidenav-container autosize>
    <mat-sidenav #sidenav [opened]="true" [mode]="'side'" class="app-sidenav">
<!--        <div class="main-component-btn">-->
<!--            <button mat-raised-button color="primary" [matMenuTriggerFor]="addDoc">Добавить документ</button>-->
<!--            <mat-menu #addDoc='matMenu'>-->
<!--                <button mat-menu-item (click)="openDocumentAdding('in')">Входящий</button>-->
<!--                <button mat-menu-item (click)="openDocumentAdding('out')">Исходящий</button>-->
<!--            </mat-menu>-->
<!--        </div>-->
        <div class="main-component-btn">
            <button mat-raised-button color="primary" (click)="openDocumentAdding('out')" id="add-document-btn">
                Добавить документ
            </button>
        </div>
        <app-search-params (paramsChange)="onSearchParams($event)"></app-search-params>
        <div class="main-component-btn">
            <button [matMenuTriggerFor]="dwnlTable" mat-raised-button color="primary">
                Экспорт таблицы
            </button>
            <mat-menu #dwnlTable='matMenu' [xPosition]="'after'" backdropClass="menu-width">
                <button mat-menu-item (click)="downloadTable('csv')">CSV</button>
            </mat-menu>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-document-table [docs]="docs | async"></app-document-table>
    </mat-sidenav-content>
</mat-sidenav-container>

