mat-sidenav-container {
    flex: 1;
}

.filler {
    flex: 1 1 auto;
}

:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main-component-btn {
    padding: 10px;
    button, mat-menu {
        width: 100%;
    }
}

.app-toolbar {
    padding: 0;
}

//mat-icon {
//    margin-left: 10px;
//    margin-right: 10px;
//}

.app-sidenav {
    width: 250px;
}

