<h3>{{documentType === 'in' ? 'Входящий' : 'Исходящий'}} документ "{{doc.doc.stringId}}"</h3>

<mat-dialog-content>
    <table mat-table [dataSource]="documentData">
        <ng-container [matColumnDef]="'tkey'">
            <td mat-cell *matCellDef="let name"><p> {{name.tkey}} </p></td>
        </ng-container>
        <ng-container [matColumnDef]="'tval'">
            <td mat-cell *matCellDef="let doc"><p> {{(doc.tval) || '--'}} </p></td>
        </ng-container>


        <tr mat-row *matRowDef="let docData; columns: ['tkey', 'tval']"></tr>
    </table>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button (click)="onClose()">Закрыть</button>
    <button mat-raised-button color="primary" (click)="openEditDocument()">Редактировать</button>
</mat-dialog-actions>
