<mat-dialog-content>
    <h3>Справка по интерфейсу</h3>
    <h5>Верхняя панель</h5>
    <ul>
        <li>Кнопка 'показать/скрыть боковую панель'</li>
        <li>Кнопка открытия интерфейса администратора</li>
        <li>Кнопка вызова справки (этого окна)</li>
    </ul>
    <h5>Боковая панель</h5>
    <p>
        Боковая панель содержит:
    </p>
    <ul>
        <li>Кнопку открытия окна добавления документа</li>
        <li>Панель набора фильтров поиска и сортировки</li>
        <li>Кнопку экспорта текущего состояния таблицы в файл</li>
    </ul>
    <h5>Фильтры поиска и сортировки</h5>
    <p>
        Приложение позволяет фильтровать документы по:
    </p>
    <ul>
        <li>
            Текстовым полям, а именно:
            <ul>
                <li>Рег. номер</li>
                <li>Адресат</li>
                <li>Описание</li>
                <li>Место хранения</li>
                <li>Тематика</li>
                <li>Исполнитель</li>
                <li>В ответ на</li>
            </ul>
            (На данный момент реализован поиск только по 1 полю единовременно)
        </li>
        <li>Конкретной тематике</li>
        <li>Дате создания</li>
        <li>Типу документа</li>
        <li>Связи с указанным документом (выводит документы, связанные с тем, чей номер указан в поле)</li>
    </ul>
    <p>
        Помимо этого, возможна сортировка по дате создания или по адресату по возрастанию или убыванию
    </p>
    <h5>Таблица документов</h5>
    <p>
        В таблице перечислены документы в порядке, определенном параметрами сортировки.
        Для краткости в таблице приведены не все поля. Клик по строчке документа
        дает полную информацию о нем. Нажатие на кнопку 'Редактировать' в окне полной информации
        позволяет изменить поля 'Исполнитель', 'Адресат' и 'Описание' и прикрепленные к документу файлы.
        Клик по иконке файла справа скачивает все прикрепленные к документу
        файлы, если они есть.
    </p>
    <h5>Форма добавления документа</h5>
    <p>
        Рег. номер новому документу присваивается автоматически. Для добавления документа требуется
        заполнить все поля, отмеченные *. При выборе значения поля 'Адресат' -- 'Прочие', можно ввести
        имя/название адресата. Содержание выпадающих списков изменяется администратором. При некорректном
        вводе данных появится предупреждение. Закрытие формы при наличии введенных данных потребует
        подтверждения. При закрытии формы данные теряются. Для смены типа документа нужно кликнуть
        по заголовку формы и выбрать нужный тип. При смене типа форма очищается. Если к документу
        прикреплены большие файлы, форма может закрыться не сразу, нужно подождать, пока файлы
        не будут отправлены.
    </p>
    <h5>Порядок добавления документа</h5>
    <ul class="number-list">
        <li>Нажать на кнопку "Добавить документ"</li>
        <li>Выбрать тип документа, кликнув на заголовок формы и выбрав тип из выпадающего списка. По умолчанию
        выбран тип "исходящий"</li>
        <li>
            Заполнить поля формы информацией о документе
            <ul>
                <li>Значения полей "Адресат", "Исполнитель", "Тематика", "Хранилище" выбираются из выпадающих списков</li>
                <li>Если у поля "Адресат" выбрано значение "Прочие", нужно заполнить поле "Адресат (прочие)",
                вписав в него адресата</li>
                <li>В поле "Связанные документы" вводятся номера (№) документов через пробел</li>
                <li>Поле "В ответ на" заполняются регистрационным номером документа, на котором основан данный</li>
                <li>При клике на поле "Файлы" можно выбрать файлы, которые будут прикреплены к документу</li>
                <li>Поля с пометкой * являются обязательными для заполнения. Остальные поля опциональны</li>
            </ul>
        </li>
        <li>После заполнения формы, если все данные верны, нажать кнопку "Добавить"</li>
        <li>Если требуется отменить добавление документа, нажать кнопку "Отмена" и подтвердить выбор. При этом
        введенные данные будут утеряны</li>
        <li>Если документ был добавлен, он появится в таблице</li>
    </ul>
</mat-dialog-content>
