
.dialog-content {
    display: flex;
    flex-direction: column;
    .input-group {
        display: flex;
        :last-child {
            margin-right: 0;
        }
        mat-form-field {
            margin-right: 10px;
            flex: 1;
        }
    }
}

.file-list {
    text-overflow: ellipsis;
}

.wide-mat-select.mat-select-panel {
    width: calc(100% + 20em);
    max-width: calc(100% + 20em);
}
