<h3>Редактирование документа "{{doc.stringId}}"</h3>

<mat-dialog-content>
    <div [formGroup]="editDocForm" class="dialog-content">
        <mat-form-field>
            <mat-label>{{fieldNames[7]}}</mat-label>
            <mat-select formControlName="worker" required panelClass="wide-mat-select">
                <mat-option *ngFor="let w of workers.fullWorkers" [value]="w.id">
                    {{w.secondName}} {{w.firstName}}, {{w.position}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div class="input-group">
            <mat-form-field>
                <mat-label>{{fieldNames[4]}}</mat-label>
                <mat-select formControlName="correspondent" required>
                    <mat-option *ngFor="let c of correspondents.correspondents" [value]="c.id">
                        {{c.name === correspondents.othersName ? 'Прочие' : c.name +
                        ((c.email) ? (' <' + c.email + '>') : '') +
                        ((c.phone) ? (' ' + c.phone) : '')}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="editDocForm.value.correspondent === 1">
                <mat-label>{{fieldNames[5]}}</mat-label>
                <input matInput formControlName="otherCorrespondent" name="otherCorrespondent">
            </mat-form-field>
        </div>
        <mat-form-field appearance="outline">
            <mat-label>{{fieldNames[9]}}</mat-label>
            <textarea matInput formControlName="description" name="description" rows="5" required></textarea>
        </mat-form-field>
        <mat-checkbox formControlName="clearFiles">Удалить файлы</mat-checkbox>
        <mat-form-field>
            <mat-label>Файлы</mat-label>
            <ngx-mat-file-input
                #fileUpload formControlName="files"
                id="file" multiple (change)="onFileChange()">
            </ngx-mat-file-input>
            <button mat-icon-button matSuffix *ngIf="!fileUpload.empty"
                    (click)="fileUpload.clear($event); filesChanged = false">
                <mat-icon>clear</mat-icon>
            </button>
        </mat-form-field>
        <span class="file-list">{{(filesChanged) ? '' : filesString}}</span>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button (click)="onClose()">Отмена</button>
    <button mat-raised-button color="primary" (click)="processEditDocument()">Сохранить</button>
</mat-dialog-actions>
