mat-card {
    display: flex;
    flex-direction: column;
    mat-form-field {
        width: 100%;
    }
}

.field-offset {
    margin-top: 1em;
}

.main-component-btn button {
    width: 100%;
}

div.sort-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    mat-button-toggle-group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        flex: 0.8;
        mat-button-toggle {
            flex-grow: 1;
            font-size: 0.8em;
        }
    }
    .sort-order-btn {
        flex: 0.2;
    }
}

@media (max-width: 400px) {
    div.sort-block mat-button-toggle-group mat-button-toggle span {
        display: none;
    }
}
