<mat-card [formGroup]="docSearch">
    <strong>Поиск</strong>

    <mat-form-field>
        <mat-label>Поиск по тексту</mat-label>
        <input matInput formControlName="query" name="query">
    </mat-form-field>

    <ng-container>
        <span class="field-offset">Даты создания</span>
        <div>
            <mat-form-field>
                <input matInput [matDatepicker]="fromCreateTimePicker"
                       [placeholder]="'Начало поиска'"
                       [value]="'20-05-2020'" formControlName="fromCreateTime">
                <mat-datepicker-toggle matSuffix [for]="fromCreateTimePicker"></mat-datepicker-toggle>
                <mat-datepicker [startView]="'month'" #fromCreateTimePicker></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
                <input matInput [matDatepicker]="toCreateTimePicker"
                       [placeholder]="'Окончание поиска'"
                       [value]="'20-05-2020'" formControlName="toCreateTime">
                <mat-datepicker-toggle matSuffix [for]="toCreateTimePicker"></mat-datepicker-toggle>
                <mat-datepicker [startView]="'month'" #toCreateTimePicker></mat-datepicker>
            </mat-form-field>
        </div>
    </ng-container>

    <mat-form-field class="field-offset">
        <mat-label>Тип документа</mat-label>
        <mat-select formControlName="type" #type [value]="'all'">
            <mat-option [value]="'all'">Все</mat-option>
            <mat-option [value]="'out'">Исходящие</mat-option>
            <mat-option [value]="'in'">Входящие</mat-option>
        </mat-select>
    </mat-form-field>

    <strong>Сортировка</strong>
    <div class="sort-block">
        <mat-button-toggle-group formControlName="sort" name="sorting">
            <mat-button-toggle value="createDateSort" matTooltip="Дата создания" matTooltipPosition="above">
                <mat-icon>send</mat-icon>
                <span>Дата создания</span>
            </mat-button-toggle>
            <mat-button-toggle value="stringIdSort">
                <mat-icon>list</mat-icon>
                <span>Рег. номер</span>
            </mat-button-toggle>
            <mat-button-toggle value="correspondentSort">
                <mat-icon>person</mat-icon>
                <span>Адресат</span>
            </mat-button-toggle>
        </mat-button-toggle-group>

        <button mat-icon-button (click)="changeSortOrder()" class="sort-order-btn">
            <mat-icon *ngIf="docSearch.controls['sortOrder'].value === 'asc'; else desc">arrow_upward</mat-icon>
            <ng-template #desc><mat-icon>arrow_downward</mat-icon></ng-template>
        </button>
    </div>


    <div class="main-component-btn">
        <button mat-raised-button color="primary" (click)="resetFilters()">Сбросить фильтры</button>
    </div>
</mat-card>
