/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.cdk-global-overlay-wrapper {
    overflow: overlay;
    .cdk-overlay-pane {
        max-height: 90%;
        mat-dialog-container {
            margin-bottom: 10%;
        }
    }
}

.menu-width+* .mat-menu-panel {
    width: 15em;
}
